body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

button[type="submit"] {
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.alert{
    color: red;
}
.hide{
    display: none;
}