{% extends "admin/formbase.html" %}
{% block title %}Add Chapter{% endblock %}

{% block content %}

<div class="card shadow p-4 mx-auto w-50 w-md-75 w-sm-100">
    <h2 class="mb-4 text-center">New Subject</h2>
    <form action="/admin/add_subject" method="post">

        <div class="mb-3">
            <label for="subject_name" class="form-label">Subject Name</label>
            <input type="text" class="form-control" name="subject_name" id="subject_name" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/admin/dashboard" class="btn btn-secondary">Go Back</a>
        </div>
    </form>
</div>

{% endblock %}