{%extends "admin/base.html"%}

{%block content%}
<div class="container mt-4">
  <div class="row">
    <!-- Subjects Section -->
    {% for quiz in quizes %}
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h5>Quiz{{quiz.id}}({{quiz.chapter}})</h5>
        </div>
        <div class="card-body">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th>ID</th>
                <th>Question Statement</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              {% for question in quiz.questions %}
              <tr>
                <td>{{question.number}}</td>
                <td>{{question.question_statement}}</td>
                <td>
                  <a href="/admin/edit-question?id={{question.id}}" id="{{question.id}}"
                    class="btn btn-sm btn-primary">Edit</a>
                  <a href="#" id="{{question.id}}" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>

              {% endfor %}

            </tbody>
          </table>
          <a href="/admin/add-question?quiz_id={{quiz.id}}"><button class="btn btn-outline-primary w-100">+
              Question</button></a>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>

  <!-- Footer -->
  <div class="text-center mt-4">
    <a href="#" class="text-decoration-none">All quiz here...</a>
  </div>
  <div class="text-center mt-4">
    <a href="/admin/add-quiz" class="text-decoration-none">Add quiz</a>
  </div>

</div>
{% endblock %}

{% block scripts %}

{% endblock %}